<img src="{{{info.icon}}}" alt="app logo">
<br>
<a href={{{info.ca}}}>请先确认已安装CA证书</a>
<br>
<a href={{{info.se}}}>请先确认已安装Server证书</a>
<h1>安装列表</h1>
<table border="2">
    <tbody>
        <tr>
            <th>版本</th>
            <th>描述</th>
            <th>安装</th>
        </tr>
        {{#each info.apps}}
        <tr>
            <td>{{name}}</td>
            <td>{{about}}</td>
            <td>
                <a href={{{link}}}>install</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<!--
<form action="/login" method="GET">
    <input type="text" name="account">
    <input type="password" name="password">
    <button type="submit">login</button>
</form>
-->

